<% i = 1 %>
<% while i <= current_user.get_rating(current_user, book).num_rate do %>
  <%= link_to book_rate_path(book,
  current_user.get_rating(current_user, book), num_rate: i),
  remote: true, method: :put, class: "btn btn-warning btn-xs" do %>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <% end %>
  <% i += 1 %>
<% end %>
<% if book.rating.floor < Settings.max_rate %>
  <% j = 1 %>
  <% while j <=
    Settings.max_rate - current_user.get_rating(current_user, book).num_rate do %>
    <%= link_to book_rate_path(book,
    current_user.get_rating(current_user, book),
    num_rate: j + i - Settings.minimum_rate),
    remote: true, method: :put, class: "btn btn-default btn-grey btn-xs" do %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <% end %>
  <% j += 1 %>
  <% end %>
<% end %>
